In [7]:
from bootstrap import *
import numpy as np
import pandas as pd

In [11]:
st = calculate_boot_stats([1, 2, 3, 4], 1000, level=0.95, random_seed=123)

In [28]:
st.values()

dict_values([1.5, 3.5, 2.5, 1.118033988749895])

In [31]:
pd.DataFrame(st, index=[0])

   lower  upper  sample_mean  sample_sd
0    1.5    3.5          2.5   1.118034